<form (submit)="ajout()" class="text-center">
titre<input type="text" name="titre" [(ngModel)]="produit.titre"><br>
poid<input type="number" name="p" [(ngModel)]="produit.poid"><br>
quantité<input type="number" name="q" [(ngModel)]="produit.quantite"><br>
photo<input type="file" name="ph" [(ngModel)]="produit.photo"><br>
<button type="submit">Ajouter</button>


</form>
<table class="table table-striped" >
<thead>
  <tr><th>titre</th><th>poid</th></tr>
</thead>
<tbody>
  <tr *ngFor="let product of produits"><td>
    {{product.titre}}
  </td><td>{{product.poid}}</td></tr>
</tbody>

</table>
